include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include src/criticality_spectrometer/py.typed
recursive-include docs *.md *.svg
recursive-include examples *.json *.md *.py
recursive-include schema *.json *.md
recursive-include scripts *.py
